// Specific CSS for your home-page
body {
  height: 80vh;
  color: #0c0b0b;
  // background-color: rgb(242, 242, 242);
  font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: rgb(41,27,75);
background: linear-gradient(90deg, rgba(41,27,75,1) 0%, rgba(0,0,0,1) 47%, rgba(47,38,83,1) 100%);
}

.background-home {
  background: linear-gradient(#2b2b2b, #000000);
}
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }



  .banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
  }

  .titre-logo {
    position: sticky;
  }

  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 52px;
    font-weight: bold;
    margin-left: 89px;
  }

  .banner p {
    font-size: 30px;
    color: white;
    opacity: .8;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-left: 94px;
  }

  .banner-container{

    display: block;
  }


.our-deadsingerz{
  display: flexbox;
  justify-content: center;
}

.my-container-home{
  // width: 50%;
  // margin: 0 auto;
  // display: flexbox;
  // justify-content: center;
  margin-top: 66px;
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  // background-color: white;
  // border-radius: 16px;
  // padding-top: 85px;
  color: aliceblue;

}

ul {
  list-style-type: none;
}

.img-michael{
  padding: 28px;
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.batch-format {
  color: #ffffff;
}
