// Specific CSS for your home-page
body {
  height: 100vh;
  color: #2b2b2b;
  background-color: rgb(242, 242, 242);
  font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }
