

<<div class=“card text-center” style=“width: 18rem;“>
    <img class=“card-img-top” src=“482px-Kurt_Cobain_1991_cropped.png” alt=“Card image cap”>
    <div class=“card-body”>
      <% singers.each do |singer| %>
        <h5 class=“card-title”><%= singer.name %></h5>
        <p class=“card-text”><%= singer.price %></p>
        <a href=“#” class=“btn btn-primary text-center”>See Booking details</a>
      <% end %>
    </div>
  </div>
