
<div class="container">
    <% @singers.each do |singer| %>
        <% if singer.photo.attached? %>
          <div class="card card-background text-center" style="width: 22rem; background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('<%= cl_image_path(singer.photo.key) %>')">
        <% else  %>
          <div class="card card-background text-center" style="width: 22rem; background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://genesisblockhk.com/wp-content/uploads/2021/12/15-dec-2021-04-2048x1152.jpg)">
        <% end %>
          <div class="column">
              <div class="index-card-body">
                  <h5 class="card-title"><%= singer.name %></h5>
                  <p class="card-text"></p>
                  <div class="button-container">
                    <%= link_to "Book me!", "/singers/#{singer.id}", class: "btn btn-primary align-text-bottom" %>
                  </div>
              </div>
            </div>
        </div>
    <% end  %>
</div>
