
<div class="container">
    <% @singers.each do |singer| %>
        <div class="card text-center" style="width: 18rem;">
          <div class="column">
              <img class="card-img-top" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fgenerasonrapfr.com%2Fune-radio-totalement-dediee-a-2pac-a-ete-creee-video%2F&psig=AOvVaw3b1IL7GZ78-gIGtSGzaDwL&ust=1648635033805000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPjyoKKK6_YCFQAAAAAdAAAAABAJ" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title"><%= singer.name %></h5>
                  <p class="card-text"></p>
                  <div class="button-container">
                    <a href="#" class="btn btn-primary align-text-bottom">Book me!</a>
                  </div>
              </div>
              </div>
        </div>
    <% end  %>
</div>
