<h2>My Booking</h2>
<% @bookings.each do |booking| %>
  <% if booking.booked == true %>
    <p> <%= booking.singer.name %>,
    <%= booking.date %></p>
  <% end %>
<% end %>

<h2>Waiting bookings</h2>
<% @bookings.each do |booking| %>
  <% if booking.booked == false %>
    <p> <%= booking.singer.name %>,
    <%= booking.date %></p>
  <% end %>
<% end %>
