<div class="footer">
  <ul class="links">
  <li>© 2022 Dead Singerz, Inc.</li>
  <li>Privacy</li>
  <li>Terms</li>
  <li>Sitemap</li>
  <li>Company details</li>
  <li>Choose a language</li>
  <li>French (FR)</li>
  </ul>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
