
<div class="banner">
<video playsinline autoplay muted loop>
     <source src="https://res.cloudinary.com/ddkm6bg5l/video/upload/v1648813373/DeadSingerz/RPReplay_Final1648812974_g284hj.mp4" type="video/mp4">
    Your browser does not support the video tag. I suggest you upgrade your browser.
</video>
      <div class="banner-container">
        <div class="titre-logo">
          <h1>DeadSingerz</h1>
        </div>
        <div class="text-logo">
          <p>Book your DeadSingerz at home for a spectacular showcase</p>
          <div class="d-flex text-logo">
            <p data-controller="animated-number" data-animated-number-start-value="0" data-animated-number-end-value="<%= @singers.length%>" data-animated-number-duration-value="3000">0</p>
            <p style="margin-left: 10px;"> singers already on the platform! </p>
          </div>
        </div>
      </div>
    </div>
<div class="my-container-home text-center">
    <div class="our-deadsingerz text-align-center">
      <div class="wrapper">
        <h2>Our DeadSingerz experiences</h2>
        <p>Choose your Deadsingerz to have your own private showcase at home!</p>
      </div>
        <h3>
            <img width="36" height="36" class="lozad program-illustration" data-src="//dwj199mwkel52.cloudfront.net/assets/core/svg/icon_web_development-6b09c87e9a9eb3204953b9ba2017cde2b04bb9d880b1244bf437fafb60bb4b37.svg" alt="Program illustration" src="//dwj199mwkel52.cloudfront.net/assets/core/svg/icon_web_development-6b09c87e9a9eb3204953b9ba2017cde2b04bb9d880b1244bf437fafb60bb4b37.svg" data-loaded="true"><noscript>&lt;img class="lozad program-illustration" alt="Program illustration" src="//dwj199mwkel52.cloudfront.net/assets/core/svg/icon_web_development-6b09c87e9a9eb3204953b9ba2017cde2b04bb9d880b1244bf437fafb60bb4b37.svg" /&gt;</noscript>
            How it works ?
        </h3>
      </div>

      <ul class="program-list multi-format">
          <li class="program-item">
            <div class="batch-details">
              <div class="batch-format">
                <strong>
                    Choose your DeadSingerz
                </strong>
              </div>
                  <div class="batch-date">
                    You can choose in our catologue of dead stars
                  </div>
            </div>
          </li>

          <li class="program-item">
            <div class="batch-details">
              <div class="batch-format">
                <strong>
                    Once the booking done, you will receive your DeadSingerz at home.
                </strong>
              </div>
                  <span class="batch-date">
                    Book for one day or more for only (500€/day)
                  </span>
            </div>
          </li>
      </ul>
      <div class="half">
          <h2>Experience our DeadSingerz</h2>
        <p>With DeadSingerz you will enjoy your private showcase</p>
      </div>
      <div class="img-michael">
          <img width="640" height="360" class="lozad experience-picture" style="border-radius: 12px;"src="https://www.raprnb.com/wp-content/uploads/2018/05/micheal-jackson-hologramme-2.jpg">
      </div>
</div>
