<div class="my-container">
  <h1>DeadSingerz</h1>
  <p>Book your DeadSingerz at home for a spectacular showcase</p>
  <header class="header-overlay" data-controller="modal-enhanced">
    <div class="wrapper">
      <div class="header-content">
        <div class="cta-container">
          <a data-target="format-selector.applyLink" class="cta cta-primary" href="/apply">See all DeadSingerz</a>
      </div>
     </div>
      <img width="1000" class="header-background" src="https://res.cloudinary.com/ddkm6bg5l/image/upload/v1648642965/DeadSingerz/CONCERT_xx9cfj.jpg">
  </header>
  <section class="Our DeadSingerz">
    <div class="wrapper">
    <h2>Our DeadSingerz experencies</h2>
    <p>Choose your Deadsingerz to have your own private showcase</p>
    </div>
    <div class="program-card">
      <div class="program-card">
  <div class="program-details">
    <h3>
        <img width="36" height="36" class="lozad program-illustration" data-src="//dwj199mwkel52.cloudfront.net/assets/core/svg/icon_web_development-6b09c87e9a9eb3204953b9ba2017cde2b04bb9d880b1244bf437fafb60bb4b37.svg" alt="Program illustration" src="//dwj199mwkel52.cloudfront.net/assets/core/svg/icon_web_development-6b09c87e9a9eb3204953b9ba2017cde2b04bb9d880b1244bf437fafb60bb4b37.svg" data-loaded="true"><noscript>&lt;img class="lozad program-illustration" alt="Program illustration" src="//dwj199mwkel52.cloudfront.net/assets/core/svg/icon_web_development-6b09c87e9a9eb3204953b9ba2017cde2b04bb9d880b1244bf437fafb60bb4b37.svg" /&gt;</noscript>
        How it works ?
    </h3>
      <p class="courses-min-height"></p>
  </div>

  <ul class="program-list multi-format">
    <!-- FULL-TIME -->
      <li class="program-item">
        <div class="batch-details">
          <div class="batch-format">
            <strong>
                Choose your DeadSingerz
            </strong>
          </div>
              <div class="batch-date">
                You can choose in our catologue of dead stars
              </div>
        </div>
      </li>

    <!-- PART-TIME -->
      <li class="program-item">
        <div class="batch-details">
          <div class="batch-format">
            <strong>
                Once the booking done, you will receive your DeadSingerz at home.
            </strong>
          </div>
              <span class="batch-date">
                Book for one day or more for only (500€/day)
              </span>
        </div>
          <div class="explore-course">
          </div>
      </li>
  </ul>
</div>
    </div>
</section>
<section class="wrapper city-introduction content-visibility-auto">
  <div class="half">
      <h2>Experience our DeadSingerz</h2>
    <p>With DeadSingerz you will enjoy your private showcase</p>
  </div>
  <div class="half">
      <img width="560" height="440" class="lozad experience-picture" src="https://res.cloudinary.com/ddkm6bg5l/image/upload/v1648642459/DeadSingerz/elvis_holo_m8iakq.jpg">
  </div>
</section>


  </header>
</div>
