.my_container {
  width: 1100px;
  margin: 0 auto;
  margin-top: 30px;
}

.row {

  width: 1342px;
  background-color: #fffdfd;
  justify-content: center;
  border-radius: 16px;
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-left: 40px;
  margin-top: 50px;

}

.card {
  width: 1100px;
  height: 400px;
  margin-top: 12px;
}

.img-fluid {
  height: 410px;
  width: 500px;
  object-fit: cover;
  object-position: center;
}

.card-image{

  // border-radius: 16px 50px 50px 16px / 16px 0px 0px 16px;
  background-size: cover;
  img {
    border-radius: 16px 0 0 16px !important;
  }

}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #ff5a5f;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #ff7277;
  color: white;
}

strong {
  color: black;
}

.fa-star {
  color: #FDCC0D;
}

.fa-star-half-stroke::before {
  content: "\f5c0";
  color: #FDCC0D;
}

.card-title {
  font-weight: 800;
}

.card-body {
  margin-left: 40px;
}
