// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "pages/singers-show";
@import "pages/singers-new";
@import "components/index";
@import "pages/index-singers";
@import "pages/navbar";
@import "pages/footer";
@import "pages/booking-new";
@import "pages/home";
@import "pages/dashboard"
